/* -- BOOTSTRAPP -- */

.btn-info {
    color: #FFF!important;
}

/* -- COUNTRIES -- */

/* - Datatable */

#countriesTable img.table-flag {
    max-width: 80px;
}

.table-flag {
    max-width: 200px;
}