<div class="table-responsive">
    <table id="countriesTable" class="table table-striped dataTable">
        <thead>
            <tr>
                <th>Bandera</th>
                <th>Nombre</th>
                <th>Región</th>
                <th>Subregión</th>
                <th>Área</th>
                <th>Población</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th>
                <th><input type="text" placeholder="Filtrar nombre" /></th>
                <th><input type="text" placeholder="Filtrar región" /></th>
                <th><input type="text" placeholder="Filtrar subregión" /></th>
                <th><input type="text" placeholder="Filtrar área" /></th>
                <th><input type="text" placeholder="Filtrar población" /></th>
                <th></th>
            </tr>
        </tfoot>
        <tbody></tbody>
    </table>
</div>