{% extends 'base.html.twig' %}

{% block title %}Paises{% endblock %}

{% block body %}
    <h1>Paises</h1>

    <div class="table-actions text-end">
        <button type="button" id="syncCountries" class="btn btn-sm btn-info">Sincronizar paises</button>
        <a href="{{ path('app_country_create') }}" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Crear nuevo país"><i class="fa fa-plus"></i></a>
    </div>

    {% include 'country/_index_table.html.twig' %}
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {# Datatable #}
    <script src="{{ asset('vendor/datatables/datatables.min.js') }}"></script>
    {% include 'partials/js/_init_datatable.html.twig' with {
        'tableId': '#countriesTable',
        'datatablePath': 'datatable_countries_all',
        'orderColumn': "[1, 'asc']",
        'columns': [
            { 'data': 'flag', 'orderable': false },
            { 'data': 'name' },
            { 'data': 'region' },
            { 'data': 'subregion' },
            { 'data': 'area' },
            { 'data': 'population' },
            { 'data': 'actions', 'orderable': false }
        ],
        'filterColumnIndices': [1, 2, 3, 4, 5]
    } %}

    {# Removal System #}
    {% include 'partials/js/_load_removal_system.html.twig' with {
        'title': 'Eliminar país',
        'message': 'El registro del país se va a eliminar. Esta acción es irreversible.'
    } %}

    <script src="{{ asset('js/country/global_controller.js') }}"></script>

{% endblock %}
