{# templates/country/new.html.twig #}

{% block title %}Nuevo País{% endblock %}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nuevo País</h1>

    {% include 'country/_form.html.twig' with {'saveAction':'Crear', 'class':'success'} %}

{% endblock %}
